<h1>Add new course</h1>
{{#if error}}
    <p class="alert">{{error}}</p>
{{/if}}
<form action="/add" method="POST" novalidate>
	<div class="input-field">
        <input id="title" name="title" type="text" class="validate" required value="{{data.title}}">
        <label for="title">Title</label>
        <span class="helper-text" data-error="Enter the title"></span>
    </div>
    <div class="input-field">
        <input id="price" name="price" type="number" class="validate" required min="1" value="{{data.price}}">
        <label for="price">Price</label>
        <span class="helper-text" data-error="Enter the price"></span>
    </div>
    <div class="input-field">
        <input id="img" name="img" type="text" class="validate" required value="{{data.url}}">
        <label for="img">Url Image</label>
        <span class="helper-text" data-error="Enter the url"></span>
    </div>
    <input type="hidden" name="_csrf" value="{{csrf}}">
    <button class="btn btn-primary">Add course</button>
</form>